@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf) format(opentype);
}
header{
    background-image: linear-gradient(to bottom, #38CA79, #299056, #1A5C38);
    margin: auto;
    height: 200px;
}

h1{
    text-align: center;
    margin:auto;
    color: white;
    font-size: 32px;
    padding: 20px;
    
}

#cabeçalho > p{
    font-size: 16px;
    color: white;
    text-align:center;
    margin: auto;
}

#menu > a{
    text-align:left;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: white;
    
}

h3{
    font-family: 'Idroid';
    text-align: left;
    background-image: linear-gradient(to right, #C6ECD6, #E1F5EA, #FEFFFE);
    color: #2c4b39;
    
}


#conteudo{
    background-color: white;
    margin:auto;
    text-align: center;

}


iframe{
    text-align: center;
    margin: auto;
}

#video{
    background-color: #1A5C38;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

#conteudo > h2{
    font-family: 'Idroid';
    text-align: left;
    color: #2c4b39;

}


#extra{
    background-color: white;
    padding: 5px;
    border: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px black;

    
}
#extra > h2{
    background-color: #2FA866;
    color: white;

    border: 5px;
    padding: 5px;
    margin: 5px 5px 0px 5px ;
    border-radius: 5px 5px 0px 0px;
}

#extra > article {
    background: #C5EBD6;

    border: 5px;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}